.game-container {
  display: flex;
  flex-direction: column;
}

.game-header {
  display: inline-grid;
  grid-template: repeat(3, 24px) / repeat(12, 24px);

  .face {
    grid-row: 2 / 2;
    grid-column: 6 / 8;
  }

  .top-border {
    grid-column: 2 / span 10;
  }

  .bottom-border {
    grid-column: 2 / span 10;
  }

  .left-border {
    grid-column: 1/1;
    grid-row: span 3;
  }

  .right-border {
    grid-column: 12/12;
    grid-row: span 3;
  }
}

.game-board {
  display: inline-grid;
  grid-template-columns: repeat(12, 24px);

  .top-border {
    grid-column: 2 / span 10;
  }

  .bottom-border {
    grid-column: 2 / span 10;
  }

  .left-border {
    grid-column: 1/1;
    grid-row: span 11;
  }

  .right-border {
    grid-column: 12/12;
    grid-row: span 11;
  }
}

.digit-0 {
  width: 18px;
  height: 35px;
  background-image: url('../assets/numbers/d0.svg');
}
