.tableau {
  display: flex;
  background-color: #000;
  border: 2px;
  border-style: inset;
  width: fit-content;
}

.separator {
  width: 3px;
  background-color: #333;
}

.digit-0 {
  width: 18px;
  height: 35px;
  background-image: url('../assets/numbers/d0.svg');
  background-size: contain;
}

.digit-1 {
  width: 18px;
  height: 35px;
  background-image: url('../assets/numbers/d1.svg');
  background-size: contain;
}

.digit-2 {
  width: 18px;
  height: 35px;
  background-image: url('../assets/numbers/d2.svg');
  background-size: contain;
}

.digit-3 {
  width: 18px;
  height: 35px;
  background-image: url('../assets/numbers/d3.svg');
  background-size: contain;
}

.digit-4 {
  width: 18px;
  height: 35px;
  background-image: url('../assets/numbers/d4.svg');
  background-size: contain;
}

.digit-5 {
  width: 18px;
  height: 35px;
  background-image: url('../assets/numbers/d5.svg');
}

.digit-6 {
  width: 18px;
  height: 35px;
  background-image: url('../assets/numbers/d6.svg');
  background-size: contain;
}

.digit-7 {
  width: 18px;
  height: 35px;
  background-image: url('../assets/numbers/d7.svg');
  background-size: contain;
}

.digit-8 {
  width: 18px;
  height: 35px;
  background-image: url('../assets/numbers/d8.svg');
  background-size: contain;
}

.digit-9 {
  width: 18px;
  height: 35px;
  background-image: url('../assets/numbers/d9.svg');
  background-size: contain;
}
