@use '../../styles/sprite';
@use '../../styles/grid';

.cellsGrid {
  display: inline-grid;
  background: silver;

  &Beginner {
    grid-template:
      repeat(grid.$beginner-rows, sprite.$cell-asset-h)
      / repeat(grid.$beginner-cols, sprite.$cell-asset-w);
  }

  &Intermediate {
    grid-template:
      repeat(grid.$intermediate-rows, sprite.$cell-asset-h)
      / repeat(grid.$intermediate-cols, sprite.$cell-asset-w);
  }

  &Expert {
    grid-template:
      repeat(grid.$expert-rows, sprite.$cell-asset-h)
      / repeat(grid.$expert-cols, sprite.$cell-asset-w);
  }
}
