@use '~styles/sprite';

.cell {
  width: sprite.$cell-asset-w;
  height: sprite.$cell-asset-h;
  background-image: url('~assets/sprite.png');

  &.closed {
    background-position: calc(0 * sprite.$cell-assets-hoffset)
      sprite.$cell-assets-voffset;
  }

  &.open {
    background-position: calc(1 * sprite.$cell-assets-hoffset)
      sprite.$cell-assets-voffset;
  }

  &.marked {
    background-position: calc(2 * sprite.$cell-assets-hoffset)
      sprite.$cell-assets-voffset;
  }

  &.markedWrongly {
    background-position: calc(7 * sprite.$cell-assets-hoffset)
      sprite.$cell-assets-voffset;
  }

  &.mine {
    background-position: calc(5 * sprite.$cell-assets-hoffset)
      sprite.$cell-assets-voffset;
  }

  &.mineExploded {
    background-position: calc(6 * sprite.$cell-assets-hoffset)
      sprite.$cell-assets-voffset;
  }

  @for $i from 1 through 8 {
    &.hint#{$i} {
      background-position: calc((#{$i} - 1) * #{sprite.$number-assets-hoffset})
        sprite.$number-assets-voffset;
    }
  }
}
