@use "../../styles/sprite";
@use "../../styles/grid";

.grid {
  display: inline-grid;
  background: silver;

  &.beginner {
    grid-template:
      repeat(grid.$beginner-rows, sprite.$cell-asset-h)
      / repeat(grid.$beginner-cols, sprite.$cell-asset-w);
  }

  &.intermediate {
    grid-template:
      repeat(grid.$intermediate-rows, sprite.$cell-asset-h)
      / repeat(grid.$intermediate-cols, sprite.$cell-asset-w);
  }

  &.expert {
    grid-template:
      repeat(grid.$expert-rows, sprite.$cell-asset-h)
      / repeat(grid.$expert-cols, sprite.$cell-asset-w);
  }
}
