// Beginner level grid size
$beginner-rows: 9;
$beginner-cols: 9;

// Intermediate level grid size
$intermediate-rows: 16;
$intermediate-cols: 16;

// Expert levet grid size
$expert-rows: 16;
$expert-cols: 30;
