// Beginner level grid cell size
$beginner-rows: 9;
$beginner-cols: 9;

// Intermediate level grid cell size
$intermediate-rows: 16;
$intermediate-cols: 16;

// Expert levet grid cell size
$expert-rows: 16;
$expert-cols: 30;
