// Sprite first line contains digit assets
$digit-assets-voffset: 0px;
$digit-assets-hoffset: -14px;
$digit-asset-w: 13px;
$digit-asset-h: 23px;

// Sprite second line contains face assets
$face-assets-voffset: -24px;
$face-assets-hoffset: -25px;
$face-asset-w: 24px;
$face-asset-h: 24px;

// Sprite third line contains cell assets
$cell-assets-voffset: -49px;
$cell-assets-hoffset: -17px;
$cell-asset-w: 16px;
$cell-asset-h: 16px;

// Sprite fourth line contains number assets
$number-assets-voffset: -66px;
$number-assets-hoffset: -17px;
$number-asset-w: 16px;
$number-asset-h: 16px;
