@use '~styles/sprite';

.tableau {
  display: flex;
  background-color: #000;
  border: 2px inset;

  span {
    width: 2px;
    background-color: #333;
  }

  .digit {
    width: sprite.$digit-asset-w;
    height: sprite.$digit-asset-h;
    background-image: url('~assets/sprite.png');

    @for $i from 1 through 9 {
      &.digit#{$i} {
        background-position: calc((#{$i} - 1) * #{sprite.$digit-assets-hoffset})
          sprite.$digit-assets-voffset;
      }
    }

    &.digit0 {
      background-position: calc(9 * #{sprite.$digit-assets-hoffset})
        sprite.$digit-assets-voffset;
    }

    &.minus {
      background-position: calc(10 * #{sprite.$digit-assets-hoffset})
        sprite.$digit-assets-voffset;
    }

    &.empty {
      background-position: calc(11 * #{sprite.$digit-assets-hoffset})
        sprite.$digit-assets-voffset;
    }
  }
}
