.cell {
  width: 24px;
  height: 24px;
  background-size: 100%;

  &Closed {
    background-image: url('../assets/cells/closed.svg');
  }

  &Marked {
    background-image: url('../assets/cells/flag.svg');
  }

  &MarkedWrongly {
    background-image: url('../assets/cells/flag-wrong.svg');
  }

  &Mine {
    background-image: url('../assets/cells/mine.svg');
  }

  &MineExploded {
    background-image: url('../assets/cells/mine-exploded.svg');
  }

  @for $i from 0 through 8 {
    &#{$i} {
      background-image: url('../assets/cells/type#{$i}.svg');
    }
  }
}
