.cell {
  width: 16px;
  height: 16px;
  background-image: url('../assets/sprite.png');

  &Closed {
    background-position: 0px -49px;
  }

  &Open {
    background-position: -17px -49px;
  }

  &Marked {
    background-position: -34px -49px;
  }

  &MarkedWrongly {
    background-position: -119px -49px;
  }

  &Mine {
    background-position: -85px -49px;
  }

  &MineExploded {
    background-position: -102px -49px;
  }

  @for $i from 1 through 8 {
    &#{$i} {
      background-position: calc((#{$i} - 1) * -17px) -66px;
    }
  }
}
