@use '../styles/sprite';

.cell {
  width: sprite.$cell-asset-w;
  height: sprite.$cell-asset-h;
  background-image: url('../assets/sprite.png');

  &Closed {
    background-position: calc(0 * sprite.$cell-assets-hoffset)
      sprite.$cell-assets-voffset;
  }

  &Open {
    background-position: calc(1 * sprite.$cell-assets-hoffset)
      sprite.$cell-assets-voffset;
  }

  &Marked {
    background-position: calc(2 * sprite.$cell-assets-hoffset)
      sprite.$cell-assets-voffset;
  }

  &MarkedWrongly {
    background-position: calc(7 * sprite.$cell-assets-hoffset)
      sprite.$cell-assets-voffset;
  }

  &Mine {
    background-position: calc(5 * sprite.$cell-assets-hoffset)
      sprite.$cell-assets-voffset;
  }

  &MineExploded {
    background-position: calc(6 * sprite.$cell-assets-hoffset)
      sprite.$cell-assets-voffset;
  }

  @for $i from 1 through 8 {
    &#{$i} {
      background-position: calc((#{$i} - 1) * #{sprite.$number-assets-hoffset})
        sprite.$number-assets-voffset;
    }
  }
}
