.game-header {
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    flex-direction: row;

    .corner {
      flex: 0 0 auto;
    }

    .border-horizontal {
      flex: 1 1 auto;
    }
  }

  .content {
    display: flex;
    flex-direction: row;

    .border-vertical {
      flex: 0 0 auto;
    }

    .controls {
      flex: 1 1 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px;
      background: silver;
    }
  }

  .footer {
    display: flex;
    flex-direction: row;

    .joint {
      flex: 0 0 auto;
    }

    .border-horizontal {
      flex: 1 1 auto;
    }
  }
}
