.layout {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 10px;
  background-color: #bdbdbd;
  border: 2px outset;
  border-color: #fff #7d7d7d #7d7d7d #fff;

  & > section:nth-child(1) {
    display: flex;
    flex-direction: row;
    border: 2px solid;
    border-color: #7d7d7d #fff #fff #7d7d7d;
    margin-bottom: 10px;

    & > div {
      flex: 1 1 auto;
    }
  }

  & > section:nth-child(2) {
    display: flex;
    flex-direction: row;
    width: fit-content;
    border: 2px solid;
    border-color: #7d7d7d #fff #fff #7d7d7d;

    & > div {
      flex: 1 1 auto;
    }
  }
}

.shake {
  animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-2px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}
