.game-board {
  display: flex;
  flex-direction: column;
  width: fit-content;

  .content {
    display: flex;
    flex-direction: row;

    .border-vertical {
      flex: 0 0 auto;
    }

    .tiles {
      flex: 1 1 auto;
      display: inline-grid;
      grid-template-columns: repeat(10, 24px);
      background: silver;
    }
  }

  .footer {
    display: flex;
    flex-direction: row;

    .corner {
      flex: 0 0 auto;
    }

    .border-horizontal {
      flex: 1 1 auto;
    }
  }
}
