.layout {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 10px;
  background-color: #bdbdbd;
  border: 3px outset;
  // border-left: 3px solid #fff;
  // border-top: 3px solid #fff;

  .header {
    display: flex;
    flex-direction: row;
    border: 3px solid;
    border-color: #7d7d7d #fff #fff #7d7d7d;
    margin-bottom: 10px;

    .controls {
      flex: 1 1 auto;
    }
  }

  .body {
    display: flex;
    flex-direction: row;
    width: fit-content;
    border: 3px solid;
    border-color: #7d7d7d #fff #fff #7d7d7d;

    .cellsGrid {
      flex: 1 1 auto;
    }
  }
}
