.tableau {
  display: flex;
  background-color: #000;
  border: 4px;
  border-style: inset;
  width: fit-content;

  span {
    width: 3px;
    background-color: #333;
  }

  .digit {
    width: 18px;
    height: 35px;
    background-size: contain;

    @for $i from 0 through 9 {
      &#{$i} {
        background-image: url('../assets/numbers/d#{$i}.svg');
      }
    }
  }
}
