.tableau {
  display: flex;
  background-color: #000;
  border: 2px;
  border-style: inset;

  span {
    width: 2px;
    background-color: #333;
  }

  .digit {
    width: 13px;
    height: 23px;
    background-image: url('../assets/sprite.png');

    @for $i from 1 through 9 {
      &#{$i} {
        background-position: calc((#{$i} - 1) * -14px) 0px;
      }
    }

    &0 {
      background-position: calc(9 * -14px) 0px;
    }

    &Minus {
      background-position: calc(10 * -14px) 0px;
    }

    &Empty {
      background-position: calc(11 * -14px) 0px;
    }
  }
}
