.tile {
  width: 24px;
  height: 24px;
  background-size: 100%;

  &Closed {
    background-image: url('../assets/tiles/closed.svg');
  }

  &Mine {
    background-image: url('../assets/tiles/mine.svg');
  }

  @for $i from 0 through 8 {
    &#{$i} {
      background-image: url('../assets/tiles/type#{$i}.svg');
    }
  }
}
